<% layout('layouts/boilerplate') %>
<link href="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css" rel="stylesheet" />

<div id="cluster-container" class="container-fluid">
    <div id="cluster-map"></div>
</div>
<div id="index" class="d-flex flex-column flex-grow-1 container my-5">
    <% if (campgrounds.length > 0) { %>
    <h1>All Campgrounds</h1>
    <a href="campgrounds/new" id="new-campground-link" class="btn btn-lg my-3 btn-primary">Create New
        Campground</a>
    <% for (let campground of campgrounds) { %>
    <div class="card mb-3">
        <div class="row">
            <div class="col-md-4 ">
                <% if (campground.images.length > 0) { %>
                <img class="img-fluid" src="<%=campground.images.length ? campground.images[0].cardImage : ''%>" alt="">
                <% } else { %>
                <img class="grey-border img-fluid" src="imgs/no-images.png" alt="">
                <% } %>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><%=campground.title%></h5>
                    <p class="card-text"><%=campground.description%></p>
                    <p class="card-text">
                        <small class="text-muted"><%=campground.location%></small>
                    </p>
                    <a class="btn btn-primary" href="/campgrounds/<%=campground._id%>">View
                        <%=campground.title%></a>
                </div>
            </div>
        </div>
    </div>
    <% } %>
    <% } else { %>
    <h1>To get started create a campground!</h1>
    <a href="campgrounds/new" id="new-campground-link" class="btn btn-lg my-3 btn-primary">Create New
        Campground</a>
    <% } %>
</div>

<script>
    const mapToken = '<%- process.env.MAPBOX_TOKEN %>'
    const campgroundsRaw = '<%-JSON.stringify(campgrounds)%>'
</script>
<script src="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js"></script>
<script src="/javascripts/clusterMap.js"></script>